{{> navbar}}
{{> header}}
  <main>
    <div class="container">
      <div class="row gy-4">
        {{#each products}}
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <img src="{{this.url}}" class="card-img-top" alt="blender 1">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">{{this.description}} </p>
            <div class="row justify-content-around">
              <p class="col-8" style="font-size: 20px;"> <b>{{formatPrice this.price}}</b> </p> 
              <a class="col-4 btn btn-primary {{#unless ../user}}disabled{{/unless}}" 
              style="height: 50px; font-size: 20px;" href="/order" onclick="navigateTo(event, event.target.href)">Buy</a>
            </div>
      </div>
      </div>
      {{/each}}
    
    </div>
  </main>
{{> footer}}