{{> navbar}}
{{> header}}
{{> messages}}

<script>
  function signin_clicked(e) {
    e.preventDefault();
    e.stopPropagation();
    //console.log("Signing_clicked")
    $('#signin-form').submit();
  }
  $(function () {
    $('#signin-form').on('submit', function (e) {
      console.log("Signing_clicked_form")
      e.preventDefault();
      e.stopPropagation();
      if (!this.checkValidity()) {
        //console.log("!checkValidity")
        $(this).addClass('was-validated');
        return false;
      }
      //console.log("checkValidity")
      //console.log($('#email').val())
      Model.signin($('#email').val(), $('#password').val()).done(function (user) {
        //console.log("Model.signin")
        //Model.user = user;
        Messages.success.push('Welcome back!');
        navigateTo(event, '/');
      }).fail(function (error) {
        Messages.danger.push(`${error.statusText} (${error.status}): ${error.responseJSON.message}`);
        navigateTo(event, '/signin');
      });
    });
    $('#signin-form input').on('blur', function (e) {
      if (!this.checkValidity()) {
        $(this).removeClass('is-valid').addClass('is-invalid');
      }
      else {
        $(this).removeClass('is-invalid').addClass('is-valid');
      }
    });
  });
</script>

<main>
  <div class="container text-center" style="max-width:500px">
    <h1 class='text-center'>Sign in</h1>

    <form id="signin-form" class="row gy-4 w-75 mx-auto needs-validation" novalidate>

      <div class="form-group">
        <input id="email" type="email" class="form-control" placeholder="Enter email" required="" autofocus=""
          value="test@gmail.com">
        <div class="invalid-feedback">The email field cannot be empty</div>
      </div>

      <div class="form-group">
        <input id="password" type="password" class="form-control" placeholder="Password" required="" value="test">
        <div class="invalid-feedback">The password field cannot be empty</div>
      </div>

      <div class="d-flex justify-content-end">
        <button onclick="signin_clicked(event)" class="btn btn-primary">Sign in</button>
      </div>

    </form>


  </div>

</main>

{{> footer}}