
<script>
  function signout_clicked(event) {
    Model.signout();
    navigateTo(event,event.target.href);
  }
</script>


<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
   
    <a class="navbar-brand" style="margin-left:20px" href="/"  onclick="navigateTo(event, event.target.href)">
       <img src="/images/easy_blend.png" alt="Logo EasyBlend" style="width:100px;height:70px">
       Products
    </a>

    <button class="navbar-toggler" style="margin-right:20px" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
      aria-controls="navbarContent" aria-expanded="false" arialabel="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" style="margin-right:20px" id="navbarContent">
      <ul class="navbar-nav mb-2 mb-md-0" >
        <li class="nav-item dropdown">
          {{#if user}}<a class="nav-link dropdown-toggle" href="#" role="button" id="cartDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">Cart
            {{#if user}}<span class="badge rounded-pill bg-secondary">{{cartQty}}</span>{{/if}}
          </a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" arialabelledby="cartDropdown">
            <li><a class="dropdown-item" href="/cart" onClick="navigateTo(event,event.target.href)">View cart</a></li>
            <li><a class="dropdown-item" href="/purchase" onClick="navigateTo(event,event.target.href)">Purchase</a></li>
          </ul>{{/if}}


        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" id="userDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">User</a>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark" arialabelledby="userDropdown">
            <li>{{#unless user}}<a class="dropdown-item" href="/signup" onClick="navigateTo(event,event.target.href)">Sign up</a>{{/unless}}</li>
            <li>{{#unless user}}<a class="dropdown-item" href="/signin" onClick="navigateTo(event,event.target.href)">Sign in</a>{{/unless}}</li>
            <li>{{#if user}}<a class="dropdown-item" href="/profile" onClick="navigateTo(event,event.target.href)">View profile</a>{{/if}}</li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>{{#if user}}<a class="dropdown-item" href="/" onclick="signout_clicked(event)">Sign out</a>{{/if}}</li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>